name: Deploy to Amplify

on:
  push:
    branches:
      - dev

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: Prod_main

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install --include=optional

      # Optional, in case Sharp still fails
      - name: Install sharp for Linux
        run: npm install --platform=linux --arch=x64 sharp

      - name: Build the React app
        run: npm run build
